    <!--contain-->
    <div class="container">
        <h1 class="text-center">Zodiac Characteristics</h1>
    </div>
    <div class="container">
        <div class="row">
            {{#each zodiacs}}
            <div class="col-md-3">
                <a href="/task4/{{name}}">
                    <img src="images/{{imagePath}}" alt="{{name}}" class="img-circle img-thumbnail">
                    <h2 class="text-center">{{name}}<br />
                        <small>{{dates}}</small>
                        </br />
                    </h2>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <!--/contain-->